*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*~
\#*\#

#ensime
.ensime_cache/

#projectile
.projectile

*.ipr
*.iws
.idea/
